<div class="wrapper d-flex flex-row justify-content-between align-items-center">
  <div class="headerTitle">
    <h3>Summary Data List</h3>
  </div>

  <div class="container md-form align-items-end" id="container">
      <input type="text"
                  name="fileName"
                  id="fileName"
                  (change)="getFileName()"
                  mdbInput mdbValidate
                  [pattern]="'[A-Za-z .-]*'"
                  required />
      <label for="filename">Input File Name</label>
      <button type="submit" class="btn "><i class="fas fa-save"></i>Download</button>
    </div>
</div>

<table mdbTable>
  <thead class="d-flex-box p-2 col-example">
    <tr>
      <th score="col" *ngFor="let header of headerList">{{header}}</th>
    </tr>
  </thead>
  <tbody>
    <tr mdbTableCol *ngFor="let prop of propList; let i = index;">
      <th scope="row">{{i+1}}</th> <!-- # -->
      <td>{{prop.position}}</td>
      <td>{{prop.staffUnitsAmounts}}</td>
      <td>{{prop.level}}</td>
      <td>{{prop.price}}</td>
      <td>{{prop.serviceYears}}</td>
      <td>{{prop.addPrice}}</td>
      <td>{{prop.twentyPercents}}</td>
      <td>{{prop.priceFondByMounth}}</td>
      <td>{{prop.priceFondByYear}}</td>
      <td>{{prop.serviceYears}}</td>
      <td>{{prop.serviceYears}}</td>
      <td>{{prop.summ}}</td>
    </tr>
    <tr>
      <td scope="row" style="text-align: left">Total</td>
      <td *ngFor="let sum of summPropList">{{sum}}</td>
    </tr>
    <tr>
      <td style="text-align: left">Material incentives fund (3%)</td>
      <td *ngFor="let fond of summMaterPrice">{{fond}}</td>
    </tr>
    <tr>
      <td style="text-align: left">Occupational Health(0,2%)</td>
      <td *ngFor="let secure of workSecure">{{secure}}</td>
    </tr>
    <tr>
      <td colspan="12" style="text-align: left">Total year salary fund</td>
      <td>{{total}}</td>
    </tr>
  </tbody>
</table>