
<div class="headerTitle">
  <h3>TeacherList</h3>
</div>

<div *ngFor="let teacher of teachersList; let i = index">
  <div class="card">

    <!-- Card content -->
    <div class="card-body">

      <!-- Title -->
      <h4 class="card-title" id="{{teacher._id}}" (click)="getTeacherById(teacher._id)"><a>{{i+1}}. {{teacher.fullName}}</a></h4>

      <input type="button" class="btn btn-danger" (click)="deleteTeacherData(teacher._id)" value="Delete">
      <input type="button" class="btn btn-warning" (click)="editTeacherData(teacher._id)" value="Edit">
    </div>

  </div>
  <!-- Card -->
</div>
<input class="btn btn-success" value="Create Teacher Data" data-toggle="modal" data-target="#myModalHorizontal">


  <div class="modal fade"
        id="myModalHorizontal"
        tabindex="-1"
        role="dialog"
        aria-labelledby="myModalHorisontalLabel"
        aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <!-- Modal Header -->
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">
                       <span aria-hidden="true">&times;</span>
                       <span class="sr-only">Close</span>
                </button>
          <h4 class="modal-title form-title" id="myModalLabel">
            Add New Teacher
          </h4>
        </div>

        <!-- Modal Body -->
        <div class="modal-body">

          <form class="form-horizontal" role="form" [formGroup]="teacherItem" (ngSubmit)="createTeacherData()">
           <!-- fullName -->
            <div class="form-group wrap-input100  rs1-wrap-input100 validate-input">
              <label for="fullName">FullName</label>
              <input type="text" id="fullName"
                                formControlName="fullName"
                                placeholder="FullName"
                                class="form-control input100"
                                [ngClass]="{ 'is-invalid': submitted && f.fullName.errors }" />
              <div *ngIf="submitted && f.fullName.errors" class="invalid-feedback">
                <div *ngIf="f.fullName.errors.required">FullName is required</div>
              </div>
            </div>
            <!-- education -->
            <div class="form-group wrap-input100  rs1-wrap-input100 validate-input">
              <label for="education">Education</label>
              <input type="text" id="education"
                                formControlName="education"
                                placeholder="Education"
                                class="form-control input100  education"
                                [ngClass]="{ 'is-invalid': submitted && f.education.errors }" />
              <div *ngIf="submitted && f.education.errors" class="invalid-feedback">
                <div *ngIf="f.education.errors.required"> education is required</div>
              </div>
            </div>
            <!-- category -->
            <div class="form-group wrap-input100  rs1-wrap-input100 validate-input">
                <label for="category">Category</label>
              <input type="text" id="category"
                                formControlName="category"
                                placeholder="Category"
                                class="form-control input100 category"
                                [ngClass]="{ 'is-invalid': submitted && f.category.errors }" />
              <div *ngIf="submitted && f.category.errors" class="invalid-feedback">
                <div *ngIf="f.category.errors.required"> category is required</div>
              </div>
            </div>
            <!-- year -->
            <div class="form-group wrap-input100  rs1-wrap-input100 validate-input">
              <label for="year">Year</label>
              <input type="text" id="year"
                                formControlName="year"
                                placeholder="Year"
                                class="form-control input100 year"
                                [ngClass]="{ 'is-invalid': submitted && f.year.errors }" />
              <div *ngIf="submitted && f.year.errors" class="invalid-feedback">
                <div *ngIf="f.year.errors.required"> Year is required</div>
              </div>
            </div>
            <!-- grade -->
            <div class="form-group wrap-input100  rs1-wrap-input100 validate-input">
              <label for="grade">Grade</label>
              <input type="text" id="grade"
                                formControlName="grade"
                                placeholder="Grade"
                                class="form-control input100 grade"
                                [ngClass]="{ 'is-invalid': submitted && f.grade.errors }" />
              <div *ngIf="submitted && f.grade.errors" class="invalid-feedback">
                <div *ngIf="f.grade.errors.required"> Grade is required</div>
              </div>
            </div>
            <!-- pedagogicalTitle -->
            <div class="form-group wrap-input100  rs1-wrap-input100 validate-input">
              <label for="pedagogicalTitle">Pedagogical Title</label>
              <input type="text" id="pedagogicalTitle"
                                formControlName="pedagogicalTitle"
                                placeholder="Pedagogical Title"
                                class="form-control input100 pedagogicalTitle"
                                [ngClass]="{ 'is-invalid': submitted && f.pedagogicalTitle.errors }" />
              <div *ngIf="submitted && f.pedagogicalTitle.errors" class="invalid-feedback">
                <div *ngIf="f.pedagogicalTitle.errors.required"> Pedagogical Title is required</div>
              </div>
            </div>
            <!-- experience -->
            <div class="form-group wrap-input100  rs1-wrap-input100 validate-input">
              <label for="experience">Experience</label>
              <input type="text" id="experience"
                                formControlName="experience"
                                placeholder="Experience"
                                class="form-control input100 experience"
                                [ngClass]="{ 'is-invalid': submitted && f.experience.errors }" />
              <div *ngIf="submitted && f.experience.errors" class="invalid-feedback">
                <div *ngIf="f.experience.errors.required"> Experience is required</div>
              </div>
            </div>
            <!-- teachHours -->
            <div class="form-group wrap-input100  rs1-wrap-input100 validate-input">
              <label for="teachHours">TeachHours</label>
              <input type="text" id="teachHours"
                                formControlName="teachHours"
                                placeholder="Teach Hours"
                                class="form-control input100 teachHours"
                                [ngClass]="{ 'is-invalid': submitted && f.teachHours.errors }" />
              <div *ngIf="submitted && f.teachHours.errors" class="invalid-feedback">
                <div *ngIf="f.teachHours.errors.required"> Teach Hours is required</div>
              </div>
            </div>
            <!-- concertmasterHours -->
            <div class="form-group wrap-input100  rs1-wrap-input100 validate-input">
              <label for="concertmasterHours">Concertmaster Hours</label>
              <input type="text" id="concertmasterHours"
                                formControlName="concertmasterHours"
                                placeholder="Concertmaster Hours"
                                class="form-control input100 concertmasterHours"
                                [ngClass]="{ 'is-invalid': submitted && f.concertmasterHours.errors }" />
              <div *ngIf="submitted && f.concertmasterHours.errors" class="invalid-feedback">
                <div *ngIf="f.concertmasterHours.errors.required"> Concertmaster Hours is required</div>
              </div>
            </div>
            <!-- department -->
            <div class="form-group wrap-input100  rs1-wrap-input100 validate-input">
                <label for="department">Department</label>
                <input type="text" id="department"
                                  formControlName="department"
                                  placeholder="Department"
                                  class="form-control input100 department"
                                  [ngClass]="{ 'is-invalid': submitted && f.department.errors }" />
                <div *ngIf="submitted && f.department.errors" class="invalid-feedback">
                  <div *ngIf="f.department.errors.required"> Concertmaster Hours is required</div>
                </div>
              </div>
          </form>
        </div>
        <!-- Modal Footer -->
        <div class="modal-footer">
          <div class="form-group container-login-form">
            <button class="btn login-form add" data-dismiss="modal" (click)="createTeacherData()">Add</button>
          </div>
        </div>
      </div>
    </div>
  </div>

