<div class="wrapper d-flex flex-row justify-content-between align-items-center">
  <div class="headerTitle">
    <h3>Manager Tarif List</h3>
  </div>

  <div class="container md-form align-items-end" id="container">
      <input type="text"
                  name="fileName"
                  id="fileName"
                  (change)="getFileName()"
                  mdbInput mdbValidate
                  [pattern]="'[A-Za-z .-]*'"
                  required />
      <label for="filename">Input File Name</label>
      <button type="submit" class="btn "><i class="fas fa-save"></i>Download</button>
    </div>
</div>
<table mdbTable>
  <thead class="d-flex-box p-2 col-example">
    <tr>
      <th score="col" *ngFor="let header of headerTitle">{{header}}</th>
    </tr>
  </thead>
  <tbody>
    <tr mdbTableCol class="header" *ngFor="let teacher of teachersManager;let sum of summList; let i = index">
      <th scope="row">{{i+1}}</th> <!-- # -->
      <td>{{teacher.fullName}}</td><!-- піб -->
      <td>{{teacher.department}}</td><!-- освіта -->
      <td>{{teacher.salary}}</td><!-- посада  -->
      <td>{{teacher.percent}}</td>
      <td>{{teacher.tarifAndIncrease}}</td>
    </tr>
    <tr>
      <td colspan="5" style="text-align: left">
        <h6>Total</h6>
      </td>
      <td>{{summ}}</td>
    </tr>
  </tbody>
</table>
<div class="data">
  <p>Midle salary {{midlePrice}}</p>
  <p>Pedagogical salary number by load hours - {{summList[3]}}</p>
  <p>Mounth salary fund for teachers - {{summList[7]}}</p>
  <p>Mounth salary fund for managers - {{summ}}</p>
  <!-- <p>Фонд доплат та надбавка за почесні, вчені звання та наукові ступені за місяць</p> -->
  <p>Mounth salary fund for persons with pedagogical title* - {{priceFond}}</p>

</div>