<ul class="nav justify-content-center lighten-4 py-4">
  <li class="nav-item">
      <a class="nav-link" [routerLink]="['/']" routerLinkActive="router-link-active" >
        <h4>Main</h4>
      </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['/login']" routerLinkActive="router-link-active" >
      <h4>Login</h4>
    </a>
</li>
<li class="nav-item">
  <a class="nav-link" [routerLink]="['/registration']" routerLinkActive="router-link-active" >
    <h4>Registration</h4>
  </a>
</li>
<li class="nav-item">
    <a class="nav-link" [routerLink]="['/adminPage']" routerLinkActive="router-link-active" >
      <h4>Admin Page</h4>
    </a>
  </li>
  <!-- <li class="nav-item">
      <a class="nav-link" [routerLink]="['/teachers']" routerLinkActive="router-link-active" >
        <h4>Teacher`s List</h4>
      </a>
  </li>
  <li class="nav-item">
      <a class="nav-link" [routerLink]="['/tarifList']" routerLinkActive="router-link-active" >
        <h4>Tarif List</h4>
      </a>
  </li>
  <li class="nav-item">
      <a class="nav-link" [routerLink]="['/middleTarifPrice']" routerLinkActive="router-link-active" >
        <h4>Middle Tarif Price</h4>
      </a>
  </li>
  <li class="nav-item">
      <a class="nav-link" [routerLink]="['/managerList']" routerLinkActive="router-link-active" >
        <h4>Manager Tarif List</h4>
      </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['/summaryDataList']" routerLinkActive="router-link-active" >
      <h4>Summary Data List</h4>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['/repaireList']" routerLinkActive="router-link-active" >
      <h4>Repaire List</h4>
    </a>
  </li> 
  <li class="nav-item">
      <a class="nav-link" [routerLink]="['/setting']" routerLinkActive="router-link-active" >
        <h4>Setting</h4>
      </a>
  </li>-->
</ul>
