<div class="wrapper">

    <nav id="sidebar">
      <div class="sidebar-header">
        <img src="../../../assets/image/logo_final 2.png" >
      </div>
      <ul class="nav nav-pills flex-column" aria-orientation="vertical">
        <li class="nav-item">
          <a class="nav-link active" data-toggle="pill" href="#home" (click)="showContent('home')"><img src="../../../assets/image/Inteligentny obiekt wektorowy.png" class="Inteligentny-obiekt-wektorowy">Home</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link " data-toggle="pill" href="#teachers" (click)="showContent('appTeacher')"><img src="../../../assets/image/user_icon.png" class="Inteligentny-obiekt-wektorowy">Teacher List</a>
        </li>
        <li>
          <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><img src="../../../assets/image/tablets_logo.png" class="Inteligentny-obiekt-wektorowy">Tables</a>
          <ul class="collapse nav nav-pills flex-column" id="pageSubmenu">
              <li class="nav-item">
                  <a class="nav-link" data-toggle="pill" href="#tarifList" (click)="showContent('tariffList')">Tarif List</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" data-toggle="pill" href="#middleTarifList" (click)="showContent('middleTariffList')">Middle Tarif Price</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" data-toggle="pill" href="#managerTarifList" (click)="showContent('managerTariffList')">Manager Tariff List</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" data-toggle="pill" href="#summaryDataList" (click)="showContent('summaryDataList')">Summary Data List</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" data-toggle="pill" href="#repaireList" (click)="showContent('repaireList')">Repaire List</a>
                </li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="pill" href="#setting" (click)="showContent('setting')"><img src="../../../assets/image/setting_icons.png" class="Inteligentny-obiekt-wektorowy">Settings</a>
        </li>
      </ul>
    </nav>
  
    <div id="content">
  
      <nav class="navbar navbar-expand-lg navbar-light bg-light ">
        <div class="container-fluid">
  
            <div class="humContainer"  id="sidebarCollapse">
                <i class="fas fa-bars fa-3x"></i>
            </div>
          <div class="buttons d-flex flex-column justify-content-between">
            <div class="logout " (click)="logOut()">
              <i class="fas fa-lock"></i>Log Out
            </div>
          </div>
        </div>
      </nav>
      <div class="container">
  
        <div class="tab-content col-12">
            <div id="teachers" class="tab-pane fade" role="tabpanel" aria-labelledby="teachers">
                <app-teachers *ngIf="activePage === 'appTeacher'"></app-teachers>
              </div>
              <div id="home" class="tab-pane active " role="tabpanel" aria-labelledby="home">
                  <app-home *ngIf="activePage === 'home'"></app-home>
                </div>
              <div id="tarifList" class="tab-pane fade" role="tabpanel" aria-labelledby="tarifList">
                <app-tarif-list *ngIf="activePage === 'tariffList'"></app-tarif-list>
              </div>
              <div id="middleTarifList" class="tab-pane fade" role="tabpanel" aria-labelledby="middleTarifList">
                <app-midle-tarif-price *ngIf="activePage === 'middleTariffList'"></app-midle-tarif-price>
              </div>
              <div id="managerTarifList" class="tab-pane fade" aria-labelledby="managerTarifList">
                <app-manager-tarif *ngIf="activePage === 'managerTariffList'"></app-manager-tarif>
              </div>
              <div id="summaryDataList" class="tab-pane fade" aria-labelledby="summaryDataList">
                <app-summary-data-list *ngIf="activePage === 'summaryDataList'"></app-summary-data-list>
              </div>
              <div id="repaireList" class="tab-pane fade" aria-labelledby="repaireList">
                <app-repaire-list *ngIf="activePage === 'repaireList'"></app-repaire-list>
              </div>
              <div id="setting" class="tab-pane fade" role="tabpanel" aria-labelledby="setting">
                  <app-setting  *ngIf="activePage === 'setting'"></app-setting>
              </div>
        </div>
      </div>
  
    </div>
  </div>
  