<div class="wrapper">

  <nav id="sidebar">
    <div class="sidebar-header">
      <h3>Sidebar</h3>
    </div>
    <ul class="nav nav-pills flex-column components" aria-orientation="vertical">
      <li class="nav-item">
        <a class="nav-link" data-toggle="pill" href="#teachers">Teacher List</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="pill" href="#tarifList">Tarif List</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="pill" href="#middleTarifList">Middle Tarif Price</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="pill" href="#managerTarifList">Manager Tarif List</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="pill" href="#summaryDataList">Summary Data List</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="pill" href="#repaireList">Repaire List</a>
      </li>
    </ul>
  </nav>

  <div id="content">

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">

        <button type="button" id="sidebarCollapse" class="btn btn-info">
          <i class="fas fa-align-left"></i>
          <span>Toggle Sidebar</span>
        </button>
        <div class="buttons d-flex flex-row justify-content-around">
          <div class="setting btn btn-md" data-toggle="modal" data-target="#settingModalHorizontal">
            Setting<i class="fas fa-cog"></i></div>
          <div class="logOut btn btn-md" (click)="logOut()">Log Out</div>
        </div>
      </div>
    </nav>

    <!-- <div class="headerContainer d-flex justify-content-between align-items-center">

    <div class="headerTitle">
      <h3>Welcome to admin Page</h3>
    </div>
    <div class="buttons d-flex flex-row justify-content-around">
      <div class="setting btn btn-md" data-toggle="modal" data-target="#settingModalHorizontal">
        Setting<i class="fas fa-cog"></i></div>
      <div class="logOut btn btn-md" (click)="logOut()">Log Out</div>
    </div>
  </div> -->

    <div class="modal fade right" id="settingModalHorizontal" tabindex="-1" role="dialog"
      aria-labelledby="settingModalHorisontalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg modal-full-height modal-right" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title form-title" id="settingModalLabel">Setting</h4>
            <button type="button" class="close" data-dismiss="modal">
              <span aria-hidden="true">&times;</span>
              <span class="sr-only">Close</span>
            </button>
          </div>
          <div class="modal-body">
            <app-setting></app-setting>
          </div>
        </div>
      </div>
    </div>

    <div class="container">

      <div class="tab-content col-12">
        <div id="teachers" class="tab-pane fade" role="tabpanel" aria-labelledby="teachers">
          <app-teachers></app-teachers>
        </div>
        <div id="tarifList" class="tab-pane active" role="tabpanel" aria-labelledby="tarifList">
          <app-tarif-list></app-tarif-list>
        </div>
        <div id="middleTarifList" class="tab-pane fade" role="tabpanel" aria-labelledby="middleTarifList">
          <app-midle-tarif-price></app-midle-tarif-price>
        </div>
        <div id="managerTarifList" class="tab-pane fade" aria-labelledby="managerTarifList">
          <app-manager-tarif></app-manager-tarif>
        </div>
        <div id="summaryDataList" class="tab-pane fade" aria-labelledby="summaryDataList">
          <app-summary-data-list></app-summary-data-list>
        </div>
        <div id="repaireList" class="tab-pane fade" aria-labelledby="repaireList">
          <app-repaire-list></app-repaire-list>
        </div>
      </div>
    </div>

  </div>
</div>