.container{
  max-width: 90%;
  /* min-width: 90%; */
  display: flex;
  margin: 0;
  flex-direction: row;
  
}

a{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #000;
}

.nav{
  /* min-width: 25%; */
  margin-top: 150px;
  min-width: 180px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #000;
  
  /* background-color: tomato; */
}

.nav-item{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #000;
  /* background-color: #F3FFBD; */

}

.nav-item:hover{
  background-color: #B2DBBF;
}

.nav-item .active{
  background-color: #70C1B3;
}

.tab-content{
  max-width: 90%;
  /* margin-top: 50px; */
  /* margin-right: 20px; */
}

.welcome-title {
  font-size: 20px;
  color: white;
  padding-left: 20px;
}

.header-wrapper {
  background: lightgrey;
  position: fixed;
  width: 100%;
  height: 60px;
}

.container {
  position: relative;
  top: 60px;
}

.configurations-wrapper {

}

.logOut {
  margin-left: 10px;
  margin-right: 10px;
}

.logOut:hover {
  cursor: pointer;
}

.settings {
  display: flex;
  justify-content: center;
  align-items: center;
}

.settings:hover {
  cursor: pointer;
}