<div class="wrapper d-flex flex-row justify-content-between align-items-center">
<div class="headerTitle">
    <h3>Middle Tarif Price List</h3>
  </div>

  <div class="container md-form align-items-end" id="container">
      <input type="text"
                  name="fileName"
                  id="fileName"
                  (change)="getFileName()"
                  mdbInput mdbValidate
                  [pattern]="'[A-Za-z .-]*'"
                  required />
      <label for="filename">Input File Name</label>
      <button type="submit" class="btn "><i class="fas fa-save"></i>Download</button>
    </div>
</div>

<table mdbTable >
  <thead class="d-flex-box p-2 col-example">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Full Name</th>
      <th colspan="3">Week volume</th>
      <th scope="col">Workload</th>
      <th scope="col">Salary + add pay</th>
      <th scope="col">Salary</th>
      <th scope="col">20%</th>
      <th scope="col">Total</th>
    </tr>
    <tr class="d-flex-box flex-column p-2 col-example">
      <th colspan="2"></th>
      <th scope="col">teach</th>
      <th scope="col">concert</th>
      <th scope="col">total</th>
      <th colspan="5"></th>
    </tr>
    <tr class="white black-text">
        <th *ngFor="let num of headerNumbers" scope="col">{{num}}</th>
    </tr>
  </thead>
  <tbody>
    <tr mdbTableCol *ngFor="let teacher of teachersList;let sum of summList; let i = index">
      <th scope="row">{{i+1}}</th> <!-- # -->
      <td>{{teacher.fullName}}</td><!-- піб -->
      <td>{{teacher.teachHours}}</td><!-- викл -->
      <td>{{teacher.concertmasterHours}}</td><!-- конц  -->
      <td>{{teacher.loadTotal}}</td><!-- години разом -->
      <td>{{teacher.loadVolume}}</td><!-- навантаження -->
      <td>{{teacher.salary}}</td><!-- тар ставка + підвищ -->
      <td>{{teacher.total}}</td><!-- зп -->
      <td>{{teacher.twentyPersent2}}</td><!-- 20%2 -->
      <td>{{teacher.inAll}}</td><!-- тотал -->
    </tr>
      <tr>
          <td colspan="2"><h6>Total</h6></td>
          <td >{{summList[0]}}</td>
          <td >{{summList[1]}}</td>
          <td >{{summList[2]}}</td>
          <td >{{summList[3]}}</td>
          <td >{{summList[4]}}</td>
          <td >{{summList[5]}}</td>
          <td >{{summList[6]}}</td>
          <td >{{summList[7]}}</td>
        </tr>
  </tbody>
</table>

