<div class="mb-1 headerTitle d-flex flex-row justify-content-between align-items-center">
  <h4>Педагогічне звання</h4>
  <button class="click btn-add" id="modalActivate" data-toggle="modal" data-target="#addCardModal"><i class="fas fa-plus"></i></button>
</div>
<div class="containerList">
<div class="list-group" *ngFor="let percent of percentList">
  <a class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex justify-content-around" >
      <h5 class="w-100">{{percent.learningPosition}}</h5>
      <p class="w-100">відсоток {{percent.percent}}%</p>
      <div class="d-flex w-100 justify-content-end">
        <div class="btn btn-warning" type="button" (click)="editPercentData(percent._id)" id="modalActivate" data-toggle="modal" data-target="#editCardModal" value="Edit"><i class="fas fa-edit"></i></div>
        <!-- <input class="btn btn-danger" type="button" (click)="getId(percent._id)" value="Delete" data-toggle="modal" data-target="#frameModalTop1"> -->

    </div>
    </div>
  </a>
</div>
</div>

<!-- edit model -->
<div class="modal fade right" id="editCardModal" tabindex="-1" role="dialog" aria-labelledby="editCardModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-notify modal-warning">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold" id="editCardModalLabel">Змінити педагогічне звання</h4>
        <button type="button" class="close" data-dismiss="modal">
            <span aria-hidden="true">&times;</span>
            <!-- <span class="sr-only">Close</span> -->
          </button>
      </div>
      <div class="modal-body">
        <form class="form-horizontal" role="form" [formGroup]="percentItem" (ngSubmit)="add()">
          <div class="md-form ">
            <input type="text"
                      id="learningPosition"
                      formControlName="learningPosition"
                      [pattern]="'[A-Za-z ]*'"
                      class="form-control"
                      mdbInput mdbValidate required />
            <label for="learningPosition" data-error="wrong" data-success="right">Педагогічне звання</label>
            <mdb-error *ngIf="learningPosition.invalid && (learningPosition.dirty || learningPosition.touched)">Педагогічне звання invalid</mdb-error>
            <mdb-success *ngIf="learningPosition.valid && (learningPosition.dirty || learningPosition.touched)">Педагогічне звання valid</mdb-success>
          </div>
          <div class="md-form ">
            <input type="number"
                      id="percent"
                      min="0"
                      max="100"
                      maxlength="2"
                      minlength="1"
                      formControlName="percent"
                      class="form-control"
                      mdbInput mdbValidate required />
            <label for="percent" data-error="wrong" data-success="right">Відсоток</label>
            <mdb-error *ngIf="percent.invalid && (percent.dirty || percent.touched)">Відсоток invalid</mdb-error>
            <mdb-success *ngIf="percent.valid && (percent.dirty || percent.touched)">Відсоток valid</mdb-success>
          </div>
        </form>
      </div>
      <div class="form-group d-flex justify-content-center">
        <button class="btn click btn-warning"
                (click)='changePercentData(this.id)'>
                Змінити педагогічне звання</button>
      </div>
    </div>
  </div>
</div>
<!-- edit model -->

<!-- add modal -->
<div class="modal fade top" id="addCardModal" tabindex="-1" role="dialog" aria-labelledby="addCardModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-info modal-notify">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold" id="editCardModalLabel">Додати педагогічне звання</h4>
        <button type="button" class="close" data-dismiss="modal">
              <span aria-hidden="true">&times;</span>
              <!-- <span class="sr-only">Close</span> -->
            </button>
      </div>
      <div class="modal-body">
        <form class="form-horizontal" role="form" [formGroup]="percentItem" (ngSubmit)="addPercentData()">
          <div class="md-form ">
            <input type="text"
                          id="learningPosition"
                          formControlName="learningPosition"
                          [pattern]="'[А-Яа-я- ]*'"
                          class="form-control"
                          mdbInput mdbValidate required />
            <label for="learningPosition" data-error="wrong" data-success="right">Педагогічне звання</label>
            <mdb-error *ngIf="learningPosition.invalid && (learningPosition.dirty || learningPosition.touched)">Педагогічне звання invalid</mdb-error>
            <mdb-success *ngIf="learningPosition.valid && (learningPosition.dirty || learningPosition.touched)">Педагогічне звання valid</mdb-success>
          </div>
          <div class="md-form ">
            <input type="number"
                          id="percent"
                          min="0"
                          max="100"
                          maxlength="2"
                          minlength="1"
                          formControlName="percent"
                          class="form-control"
                          mdbInput mdbValidate required />
            <label for="percent" data-error="wrong" data-success="right">Відсоток</label>
            <mdb-error *ngIf="percent.invalid && (percent.dirty || percent.touched)">Відсоток invalid</mdb-error>
            <mdb-success *ngIf="percent.valid && (percent.dirty || percent.touched)">Відсоток valid</mdb-success>
          </div>
        </form>
      </div>
      <div class="md-form d-flex justify-content-center">
        <button class="btn btn-info click"
                  (click)='addPercentData()'>
                  Додати педагогічне звання</button>
      </div>
    </div>
  </div>
</div>
<!-- add modal -->

<!-- remove modal window -->
<div class="modal fade top" id="frameModalTop1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-sm modal-notify modal-danger" role="document">
    <div class="modal-content text-center">
      <div class="modal-header d-flex justify-content-center">
        <p class="heading">Впевнені, що хочете видалити <strong>педагогічне звання</strong>?</p>
      </div>

      <div class="modal-body">
        <i class="fas fa-times fa-4x animated rotateIn"></i>
      </div>

      <div class="modal-footer justify-content-center">
        <a (click)="deletePercents()"
            mdbBtn
            color="danger"
            outline="true"
            data-dismiss="modal"
            class="waves-effect click1"
            mdbWavesEffect>Так</a>
        <a type="button"
            mdbBtn
            color="danger"
            class="waves-effect"
            mdbWavesEffect
            data-dismiss="modal">Ні</a>
      </div>
    </div>
    <!--/.Content-->
  </div>
</div>
<!-- remove modal window -->