<div class="wrapper">

    <div class="landing-page">
  
      <div class="page-content">
  
        <div class="header w-100 d-flex flex-row justify-content-between align-items-center">
          <div class="logo w-75"><img src="../../../assets/image/logo_final 2.png" alt=""></div>
          <a [routerLink]="['/login']" routerLinkActive="router-link-active">Log In</a>
        </div>
        <div class="text-landing">
        <h1>Learn everytime and everywhere</h1>
        </div>
      </div>
    </div>
  
    <div class="about-section">
      <div class="inner-width">
        <h1>About Us</h1>
        <div class="border"></div>
        <div class="about-section-row">
          <div class="about-section-col">
            <div class="about">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga provident ea hic, neque amet sequi
                temporibus iure aliquid placeat inventore. Quae dolores dolore, cum nulla quas ipsum facere maxime,
                necessitatibus!
              </p>
              <a href="#">Read More</a>
            </div>
          </div>
          <div class="about-section-col">
            <div class="skills">
              <div class="skill">
                <div class="title">Web Design</div>
                <div class="progress">
                  <div class="progress-bar p1"></div>
                </div>
              </div>
  
              <div class="skill">
                <div class="title">UI Design</div>
                <div class="progress">
                  <div class="progress-bar p2"></div>
                </div>
              </div>
  
              <div class="skill">
                <div class="title">UX Design</div>
                <div class="progress">
                  <div class="progress-bar p3"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <div class="services-section">
      <div class="inner-width">
        <h1 class="section-title">Our Services</h1>
        <div class="border"></div>
        <div class="services-container">
  
          <div class="service-box">
            <div class="service-icon">
              <!-- <i class="fas fa-paint-brush"></i> -->
            </div>
            <div class="service-title">Web Designs</div>
            <div class="service-desc">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et eaque ratione rem porro, nihil.
            </div>
          </div>
  
          <div class="service-box">
            <div class="service-icon">
              <!-- <i class="fas fa-code"></i> -->
            </div>
            <div class="service-title">Web Development</div>
            <div class="service-desc">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et eaque ratione rem porro, nihil.
            </div>
          </div>
  
          <div class="service-box">
            <div class="service-icon">
              <!-- <i class="fas fa-brush"></i> -->
            </div>
            <div class="service-title">Responsive Designs</div>
            <div class="service-desc">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et eaque ratione rem porro, nihil.
            </div>
          </div>
  
          <div class="service-box">
            <div class="service-icon">
              <!-- <i class="fas fa-object-ungroup"></i> -->
            </div>
            <div class="service-title">Edit Sections</div>
            <div class="service-desc">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et eaque ratione rem porro, nihil.
            </div>
          </div>
  
          <div class="service-box">
            <div class="service-icon">
              <!-- <i class="fas fa-database"></i> -->
            </div>
            <div class="service-title">Databases</div>
            <div class="service-desc">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et eaque ratione rem porro, nihil.
            </div>
          </div>
  
          <div class="service-box">
            <div class="service-icon">
              <!-- <i class="fab fa-android"></i> -->
            </div>
            <div class="service-title">Android</div>
            <div class="service-desc">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et eaque ratione rem porro, nihil.
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <div class="gallery-section">
      <div class="inner-width">
        <h1>My Gallery</h1>
        <div class="border"></div>
        <div class="gallery">
  
          <a href="../../../assets/image/1.png" class="image">
            <img src="../../../assets/image/1.png" alt="">
          </a>
  
          <a href="../../../assets/image/2.png" class="image">
            <img src="../../../assets/image/2.png" alt="">
          </a>
  
          <a href="../../../assets/image/3.png" class="image">
            <img src="../../../assets/image/3.png" alt="">
          </a>
  
          <a href="../../../assets/image/4.png" class="image">
            <img src="../../../assets/image/4.png" alt="">
          </a>
  
          <a href="../../../assets/image/5.png" class="image">
            <img src="../../../assets/image/5.png" alt="">
          </a>
  
          <a href="../../../assets/image/6.png" class="image">
            <img src="../../../assets/image/6.png" alt="">
          </a>
  
          <a href="../../../assets/image/7.png" class="image">
            <img src="../../../assets/image/7.png" alt="">
          </a>
  
          <a href="../../../assets/image/8.png" class="image">
            <img src="../../../assets/image/8.png" alt="">
          </a>
  
        </div>
      </div>
    </div>
  
    <footer class="page-footer font-small unique-color-dark">
  
      <!-- Copyright -->
      <div class="footer-copyright text-center py-3">В© 2018 Copyright:
        <a href="#">Celestial being</a>
      </div>
      <!-- Copyright -->
  
    </footer>
  
  </div>