<!-- <div class="headerTitle"> 
  <h3>Registration</h3>
</div>
name, surname, phoneNumber, email, confirmPassword

<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        name
  <div class="md-form form-sm">
              <label for="name" data-error="wrong" data-success="right">Name</label>
              <div class="error" id="error"></div>
              <input type="text" 
                      mdbValidate mdbInput
                      id="name"
                      formControlName="name" 
                      class="form-control form-control-sm" 
                      [pattern]="'[A-Za-z0-9]*'"
                      required />
              <mdb-error *ngIf="name.invalid && (name.dirty || name.touched)">Name invalid</mdb-error>
              <mdb-success *ngIf="name.valid && (name.dirty || name.touched)">Name valid</mdb-success>
            </div>
            surname
    <div class="md-form form-sm">
                <label for="surname" data-error="wrong" data-success="right">Surname</label>
                <input type="text" 
                        mdbValidate mdbInput
                        id="surname"
                        formControlName="surname" 
                        class="form-control form-control-sm" 
                        [pattern]="'[A-Za-z0-9]*'"
                        required />
                <mdb-error *ngIf="surname.invalid && (surname.dirty || surname.touched)">Surname invalid</mdb-error>
                <mdb-success *ngIf="surname.valid && (surname.dirty || surname.touched)">Surname valid</mdb-success>
              </div>
          phoneNumber
  <div class="md-form form-sm">
              <label for="phoneNumber" data-error="wrong" data-success="right">Phone Number (XXX-XXX-XXXX)</label>
              <input type="text" 
                      mdbValidate mdbInput
                      id="phoneNumber"
                      formControlName="phoneNumber" 
                      class="form-control form-control-sm" 
                      pattern="^\d{3}-\d{3}-\d{4}$"
                      required />
              <mdb-error *ngIf="phoneNumber.invalid && (phoneNumber.dirty || phoneNumber.touched)">Phone Number invalid</mdb-error>
              <mdb-success *ngIf="phoneNumber.valid && (phoneNumber.dirty || phoneNumber.touched)">Phone Number valid</mdb-success>
            </div>
          email
  <div class="md-form form-sm">
              <label for="email" data-error="wrong" data-success="right">Email</label>
              <input type="text" 
                      mdbValidate mdbInput
                      id="email"
                      formControlName="email" 
                      class="form-control form-control-sm" 
                      pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
                      required />
              <mdb-error *ngIf="email.invalid && (email.dirty || email.touched)">Email invalid</mdb-error>
              <mdb-success *ngIf="email.valid && (email.dirty || email.touched)">Email valid</mdb-success>
            </div>
        password
<div class="md-form form-sm">
            <label for="password" data-error="wrong" data-success="right">Password</label>
            <input type="text"
                    id="password" 
                    mdbValidate mdbInput
                    formControlName="password" 
                    class="form-control form-control-sm" 
                    minlength="5"
                    pattern="[A-Za-z0-9]*"
                    required />
            <mdb-error *ngIf="password.invalid && (password.dirty || password.touched)">Password invalid</mdb-error>
            <mdb-success *ngIf="password.valid && (password.dirty || password.touched)">Password valid</mdb-success>
          </div>
          confirmPassword
  <div class="md-form form-sm">
              <label for="confirmPassword" data-error="wrong" data-success="right">Confirm Password</label>
              <input type="text"
                      id="confirmPassword" 
                      mdbValidate mdbInput
                      formControlName="confirmPassword" 
                      class="form-control form-control-sm" 
                      minlength="5"
                      required />
              <mdb-error *ngIf="confirmPassword.value !== password.value">Confirm Password not equal Password</mdb-error>
              <mdb-error *ngIf="confirmPassword.invalid && (confirmPassword.dirty || confirmPassword.touched)">Confirm Password invalid</mdb-error>
              <mdb-success *ngIf="confirmPassword.valid && (confirmPassword.dirty || confirmPassword.touched)">Confirm Password valid</mdb-success>
            </div>
        <div class="form-group">
          <button class="btn btn-primary" >Register</button>
        </div>
      </form>
    </div>
  </div>
</div> -->

<div class="align">

  <div class="grid align__item">

    <div class="register">

      <svg xmlns="http://www.w3.org/2000/svg" class="site__logo" width="56" height="84" viewBox="77.7 214.9 274.7 412">
        <defs>
          <linearGradient id="a" x1="0%" y1="0%" y2="0%">
            <stop offset="0%" stop-color="#8ceabb" />
            <stop offset="100%" stop-color="#378f7b" />
          </linearGradient>
        </defs>
        <path fill="url(#a)"
          d="M215 214.9c-83.6 123.5-137.3 200.8-137.3 275.9 0 75.2 61.4 136.1 137.3 136.1s137.3-60.9 137.3-136.1c0-75.1-53.7-152.4-137.3-275.9z" />
      </svg>

      <h2>Registration</h2>

      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <!-- name -->
        <div class="form-row mb-4">
          <div class="col">
            <div class="md-form form-sm">
              <label for="name" data-error="wrong" data-success="right">Name</label>
              <div class="error" id="error"></div>
              <input type="text" mdbValidate mdbInput id="name" formControlName="name"
                class="form-control form-control-sm" [pattern]="'[A-Za-z0-9]*'" required />
              <mdb-error *ngIf="name.invalid && (name.dirty || name.touched)">Name invalid</mdb-error>
              <mdb-success *ngIf="name.valid && (name.dirty || name.touched)">Name valid</mdb-success>
            </div>
          </div>
          <!-- surname -->
          <div class="col">
            <div class="md-form form-sm">
              <label for="surname" data-error="wrong" data-success="right">Surname</label>
              <input type="text" mdbValidate mdbInput id="surname" formControlName="surname"
                class="form-control form-control-sm" [pattern]="'[A-Za-z0-9]*'" required />
              <mdb-error *ngIf="surname.invalid && (surname.dirty || surname.touched)">Surname invalid</mdb-error>
              <mdb-success *ngIf="surname.valid && (surname.dirty || surname.touched)">Surname valid</mdb-success>
            </div>
          </div>
        </div>
        <!-- phoneNumber -->
        <div class="md-form form-sm">
          <label for="phoneNumber" data-error="wrong" data-success="right">Phone Number (XXX-XXX-XXXX)</label>
          <input type="text" mdbValidate mdbInput id="phoneNumber" formControlName="phoneNumber"
            class="form-control form-control-sm" pattern="^\d{3}-\d{3}-\d{4}$" required />
          <mdb-error *ngIf="phoneNumber.invalid && (phoneNumber.dirty || phoneNumber.touched)">Phone Number invalid
          </mdb-error>
          <mdb-success *ngIf="phoneNumber.valid && (phoneNumber.dirty || phoneNumber.touched)">Phone Number valid
          </mdb-success>
        </div>
        <!-- email -->
        <div class="md-form form-sm">
          <label for="email" data-error="wrong" data-success="right">Email</label>
          <input type="text" mdbValidate mdbInput id="email" formControlName="email"
            class="form-control form-control-sm" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" required />
          <mdb-error *ngIf="email.invalid && (email.dirty || email.touched)">Email invalid</mdb-error>
          <mdb-success *ngIf="email.valid && (email.dirty || email.touched)">Email valid</mdb-success>
        </div>
        <!-- password -->
        <div class="md-form form-sm">
          <label for="password" data-error="wrong" data-success="right">Password</label>
          <input type="text" id="password" mdbValidate mdbInput formControlName="password"
            class="form-control form-control-sm" minlength="5" pattern="[A-Za-z0-9]*" required />
          <mdb-error *ngIf="password.invalid && (password.dirty || password.touched)">Password invalid</mdb-error>
          <mdb-success *ngIf="password.valid && (password.dirty || password.touched)">Password valid</mdb-success>
        </div>
        <!-- confirmPassword -->
        <div class="md-form form-sm">
          <label for="confirmPassword" data-error="wrong" data-success="right">Confirm Password</label>
          <input type="text" id="confirmPassword" mdbValidate mdbInput formControlName="confirmPassword"
            class="form-control form-control-sm" minlength="5" required />
          <mdb-error *ngIf="confirmPassword.value !== password.value">Confirm Password not equal Password</mdb-error>
          <mdb-error *ngIf="confirmPassword.invalid && (confirmPassword.dirty || confirmPassword.touched)">Confirm
            Password invalid</mdb-error>
          <mdb-success *ngIf="confirmPassword.valid && (confirmPassword.dirty || confirmPassword.touched)">Confirm
            Password valid</mdb-success>
        </div>
        <div class="form-group">
          <button class="btn btn-primary">Register</button>
        </div>
      </form>
      <p>Already have an accout? <a [routerLink]="['/login']" routerLinkActive="router-link-active">Log In</a></p>

    </div>

  </div>


<!-- 
<form action="#0">

  <div>
    <input type="text" id="first_name" name="first_name" required placeholder=" " />
    <label for="first_name">First Name</label>
  </div>
  
  <div>
    <input type="text" id="last_name" name="last_name" required placeholder=" " />
    <label for="last_name">Last Name</label>
  </div>
  
  <div>
    <input type="email" id="email" name="email" required placeholder=" " />
    <label for="email">Email Address</label>
    <div class="requirements">
      Must be a valid email address.
    </div>
  </div>
  
  <div>
    <input type="password" id="password" name="password" required placeholder=" " pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}" />
    <label for="password">Password</label>
    <div class="requirements">
      Your password must be at least 6 characters as well as contain at least one uppercase, one lowercase, and one number.
    </div>
  </div>
  
  <input type="submit" value="Sign Up" />

</form> -->

</div>