/* You can add global styles to this file, and also import other style files */
.headerTitle{
  text-align: center;
  margin-top: 20px;
}
mdb-error{
  color: red;
  font-size: 14px;

}
mdb-success{
  color: green;
  font-size: 14px;
}
input .form-control{
  margin-bottom: 0;
}